body {
    background-size: cover;
    height: 100vh;    
}


.title-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/start-screen.png");
}


.start {
    background-image: url("../images/Augmentation-Revelation.png");
    height: 120vh;
    background-repeat: no-repeat;
}


.title-box {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}


#title {
    font-size: 7vh;
    font-family: 'inter', sans-serif;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;  
}


.flower-border {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    width: 525px;
}


.flower-border:hover {
    transform: scale(1.2);
}


#start-option {
    position: absolute;
    top: 40%;
    background: none;
    border: none;
    padding: 0;
    color: white;
    font-family: 'inter', sans-serif;
    font-size: 5vh;
    cursor: pointer;
   
}


#Continue {
    margin-top: 5vh;
}


#New-Game {
    margin-top: 10vh;
}


.placement {
    display: flex;
    justify-content: center;
}


.start {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#startexpo {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-color: #48A6F3;
    background-repeat: no-repeat;
    background-size: contain;
    height:150px;
   background-position: center;
    font-size: large;
    cursor: pointer;
    background-repeat: no-repeat;
}


.lambda {
    background-image:url(images/LambdaCentral.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}


.choices {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}


#choice1, #choice2, #choice3 {
background-color: rgba(0, 0, 0, 0.7);
width: 400px;
height: 50px;
color: white;
border-color: #48A6F3;
font-size: x-large;
display: none;
}


.items {
    display: flex;
    flex-direction: row;
    justify-content: space-around
}


#item1, #item2, #item3 {
background-color: rgba(0, 0, 0, 0.0);
width: 95px;
height: 95px;
background-image: url(images/item.png);
background-position: center;
background-repeat: no-repeat;
border: 0px;
cursor: pointer;
display: none
    }


#item1 {
margin-left: 300px
}


#item2 {
align-self: center;
}


#item3 {
align-self: flex-end;
}
